{% macro display(pitches) %}
<div class="container-fluid">
		<div class="row">
            {% for categ in pitches %}
            <div class="col-md-4" >
                <div class="thumbnail" id="carded">
                    <h3>{{categ.pitch_title}}</h3>
                    <div class="card-body">
                        <p>{{categ.pitch_content}}</p>
                        <p> Category: {{categ.pitch_category}}</p>
                        <footer class="blockquote-footer"> Posted by: {{categ.user.username}}</footer>
                        <a href="{{url_for('.comment',pitch_id = categ.id)}}" class="btn btn-primary btn-sm"> Comment</a>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endmacro %}
					